<main class="content">
    <!--Titulo-->
    <section class="bg-primary text-white text-center py-5"><!--TITULO-->
        <div class="container">
            <h1 class="fw-bolder">Contacto</h1>
            <p class="lead">¡Contacte con nosotros!</p>
        </div>
    </section>
    <!--Fin Titulo-->
    <section class="container p-5">
        <div class="row g-5">
            <!-- Formulario -->
            <article class="col-12 col-md-8">
                <section class="form-section">
                    <h4 class="mb-4">¿Tenés dudas? Escribinos</h4>
                    <form onsubmit="send(); return false;">
                        <div class="row mb-3">
                            <div class="col-12 col-md-6">
                                <label for="nombre" class="form-label">Nombre completo</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre y apellido">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="correo" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" id="correo" placeholder="tu@email.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-6">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" placeholder="11-2545-7845">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="asunto" class="form-label">Asunto</label>
                                <input type="text" class="form-control" id="asunto">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Escribí tu mensaje."></textarea>
                        </div>
                        <div class="form-group form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="cbox1" required>
                            <label class="form-check-label" for="cbox1">Acepto las políticas de privacidad y el tratamiento de mis datos personales</label>
                        </div>
                        <div>
                            <button class="btn btn-primary w-100" type="submit">Enviar mensaje</button>
                        </div>
                    </form>
                </section>
            </article>

            <!-- Contacto y Redes -->
            <aside class="col-12 col-md-4 mostrar-aside">
                <section class="form-section text-center text-md-start h-100">
                    <h2 class="mb-4 fs-3">Información de contacto</h2>

                    <h3 class="fs-5">Ubicación</h3>
                    <p class="mb-3">Calle Thames 500, CABA, Buenos Aires</p>

                    <h3 class="fs-5">Email</h3>
                    <p class="mb-3">idw@salones.com</p>

                    <h3 class="fs-5">Horario de atención</h3>
                    <p class="mb-3">Lunes a viernes de 9 a 18 horas<br>Sábados de 10 a 14 horas</p>

                    <h3 class="fs-5">Seguinos en redes</h3>
                    <div class="d-flex justify-content-center justify-content-md-start gap-3 mt-3">
                        <a href="https://facebook.com" target="_blank" class="text-black fs-4"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://instagram.com" target="_blank" class="text-black fs-4"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://twitter.com" target="_blank" class="text-black fs-4"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.tiktok.com/" target="_blank" class="text-black fs-4"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </section>
            </aside>
        </div>
    </section>

        <!-- Preguntas Frecuentes -->
    <section class="faq-background py-5">
        <div class="container">
            <h4 class="mb-4 text-center">Preguntas Frecuentes</h4>
            <div class="accordion" id="accordionfaq">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            ¿Con cuánta anticipación debo reservar un salón?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionfaq">
                        <div class="accordion-body">
                            Recomendamos reservar al menos con 1 mes de anticipación para asegurar disponibilidad.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            ¿Qué incluye el precio del salón?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionfaq">
                        <div class="accordion-body">
                            El precio incluye el uso del espacio, mobiliario básico, y limpieza general.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                            ¿En qué horarios puedo realizar el evento?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionfaq">
                        <div class="accordion-body">
                            Los horarios de reserva de los salones son de 10am a 20pm.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Mapa -->
    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Nuestra ubicación</h2>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="ratio ratio-16x9">
                        <iframe class="rounded-5"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.342153523948!2d-58.44626342445867!3d-34.595508572957236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0a79cbb15b%3A0xf648054b323e310b!2sThames%20500%2C%20C1414%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1750601749981!5m2!1ses!2sar"
                            allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
     </section>       
</main>